.chatbot-wrapper {
    position: fixed;
    bottom: 20px;
    right: 70px;
    z-index: 10;
}

.chatbot-toggle {
    position: relative;
    z-index: 11;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    background-color: #CCC;
    padding: 3px 10px 2px 10px;
    border-radius: 50%;
    transition: background-color 0.2s ease, transform 0.1s ease;

    &:hover {
        background-color: #B8B8B8;
        transform: scale(1.1);
    }
}

.chatbot-container {
    position: relative;
    z-index: 10;
    background-color: #343541;
    border-radius: 10px;
    z-index: 10;

    &.open {
        animation: slideUp 0.3s ease-in-out forwards;
    }

    &.closing {
        animation: slideDown 0.3s ease-in-out forwards;
        transition: opacity 0.5s;
        opacity: 0;
    }
}


@keyframes slideUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }

}

.chatbot-interface {
    padding: 15px;
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 400px;
    z-index: 12;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
}

.message {
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 80%;
}

.user-message {
    background-color: #d0f0d0;
    align-self: flex-end;
}

.bot-message {
    background-color: #f0f0f0;
    align-self: flex-start;
}

.message-form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 12.8px;
    min-height: 50px;
    overflow: hidden;

    &:focus-visible {
        outline: none;
    }
}


.message-input {
    font-size: 14px;
    align-self: center;
    width: 80%;
    height: 35px;
    max-height: 200px;
    resize: none;
    border: transparent;
    background-color: transparent;
    padding: 7px 5px 5px 5px;
    color: white;

    &:focus-visible {
        outline: none;
    }

    &::placeholder {
        color: #CCC;
    }
}

.send-button {
    position: absolute;
    right: 5px;
    bottom: 6px;
    border-radius: 10px;
    width: 35px;
    height: 35px;
}

@media (max-width: 600px) {
    .chat-interface {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}