.technology-rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin-bottom: 30px;
}

.icon i {
    font-size: 36px;
}

#last-row {
    margin-top: -15px;
    margin-bottom: -30px
}

.resume-absolute {
    position: relative
}

.resume-qr {
    width: 120px;
    position: relative;
    margin-left: 43px;
    margin-top: 5px;

}